apiVersion: v1
kind: ConfigMap
metadata:
  name: my-app-name-cm
  namespace: my-app-namespace
data:
  # property-like keys; each key maps to a simple value
  QUARKUS_APP_CUSTOM_MESSAGE: "Hello from <<CONFIG_MAP>>."
