apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: my-app-serverless
  namespace: my-app-ns
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/class: kpa.autoscaling.knative.dev
        # Knative concurrency-based autoscaling (default).
        autoscaling.knative.dev/metric: concurrency
        # Target 10 requests in-flight per pod.
        autoscaling.knative.dev/target: "10"
        autoscaling.knative.dev/max-scale: "10"
        labels:
          app.openshift.io/runtime: quarkus
    spec:
      containers:
      - image: viniciusfcf/gitops-quarkus-app-jvm
        # The best option (in my opnion) however does not redeploy after configMap updates.
        envFrom:
        - configMapRef:
            name: my-app-name-serverless-cm
        # Same ConfigMap env variable, however any change here will redeploythe application, as expected
        env:
        - name: QUARKUS_APP_CUSTOM_MESSAGE
          value: "Hello from KService env."
